<div class="form-style">
  <h1>
    {{title}}
  </h1>
  <form [formGroup]="payInfo" (ngSubmit)="generateSlip($event)">
    <label>First Name</label> <br>
    <input formControlName="firstName" type="text" required><br>
    <label>Last Name </label><br>
    <input formControlName="lastName" type="text" required><br>
    <label>Annual Salary </label><br>
    <input formControlName="annualSalary" type="number" min="0" required><br>
    <label> Super Rate <em>(0%-50%)</em> </label> <br>
    <input formControlName="superRate" type="number" min="0" max="50" required><br>
    <label> Start Date </label> <br>
    <input formControlName="date" type="text"><br>
    <button type="submit">Generate Pay Slip</button>
  </form>
</div>

<slip-info [slip]="paySlip">Loading...</slip-info>