<h1>
  {{title}}
</h1>

<form [formGroup]="payInfo" (ngSubmit)="generateSlip($event)">
  First Name: <input formControlName="firstName" type="text"><br>
  Last Name: <input formControlName="lastName" type="text"><br>
  Annual Salary: <input formControlName="annualSalary" type="number"><br>
  Super Rate: <input formControlName="superRate" type="number"><br>
  Start Date: <input formControlName="date" type="text"><br>
  <button type="submit">Generate Pay Slip</button>
</form>

<slip-info [slip]="paySlip">Loading...</slip-info>
